
body{
    font-family: Georgia, Verdana, sans-serif;
    font-size: 18px;
    background-color: #C2C2C1;
}

h1 {
    color: gray;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 40px;
    font-family: Copperplate;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

h5{
    text-align: center;
}

.main_buttons{
    font-size: 30px;

}

.main_body{
    text-align: center;
}

.main_enterprise_dropdown{
    width: 200px;
    margin-left: 45em;
    padding-top: 2em;
}
