{% extends "sdwan_base_template.html" %}
{%block content%}
<title>{%block title%}SDWAN Landing Page{%endblock%}</title>
<div class="jumbotron">
<h1>All things Cisco SDWAN Landing Page</h1>
<p>Please select an option from the nav bar for demos or see the live action.</p>
<br>
<a href="https://vmanage-solution.cisco-lab.com" target="_blank">Let's see this in action!</a>
</div>
<div class="jumbotron">
    <h1>SDWAN Quick Display</h1>
    <p>Please select an option to retrieve the live stats from our vManage instance.</p>
    <br>
    
    </div>
{% endblock %}

