{% extends "base_index.html" %}
{%block content%}
<title>Home Landing Page</title>
<h1>Welcome to the Solutions Lab Landing Page</h1>
<div id="accordion" class="main_enterprise_dropdown">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link main_buttons" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            SDWAN
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body main_body">
          This is SDWAN
          <br>
          <a href="{{url_for('sdwan.home')}}">Landing Page</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed main_buttons" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            SDA
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body main_body">
          This is SDA
          <br>
          <a href="{{url_for('sda.home')}}">Landing Page</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed main_buttons" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ACI
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body main_body">
          This is ACI
          <br>
          <a href="{{url_for('home')}}">Landing Page</a>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed main_buttons" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              X-Domain
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body main_body">
            This is Cross Domain
            <br>
            <a href="{{url_for('home')}}">Landing Page</a>
          </div>
        </div>
      </div>
    </div>


{% endblock %}